* {
  font-family: "仿宋";
  text-align: center;
}

body {
  margin: 0;
}

iframe {
  box-sizing: border-box;
}

.content {
  text-indent: 2em;
  color: red;
  font-size: 54px;
  font-weight: bold;
  text-align: left;
}

.frame_sets_html,
.frame_sets_body {
  height: 100%;
}

.top_frame {
  width: 100%;
  height: 150px;
}

.left_frame {
  float: left;
  width: calc(20% - 4px);
  height: calc(100% - 154px);
}

.right_frame {
  float: right;
  width: calc(80% - 4px);
  height: calc(100% - 154px);
}

.header_title {
  text-align: center;
  font-size: 54px;
}

.navigation_title {
  font-size: 35px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.navigation_link {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-block: 50px;
}
