* {
  margin: 0;
  padding: 0;
}

.text-holder {
  background-color: rgb(33, 33, 33);
  color: gray;
  font-size: 30px;
  text-align: center;
}

.tool-bar,
.content-row {
  width: 1200px;
}

.tool-bar {
  height: 200px;
  line-height: 200px;
  margin: 0 auto;
}

.content-row {
  height: 500px;
  line-height: 500px;
  margin: 10px auto;
}
.content-row .main {
  width: calc(70% - 5px);
}
.content-row .sidebar {
  width: calc(30% - 5px);
}

.right-sidebar .main {
  float: left;
}
.right-sidebar .sidebar {
  float: right;
}

.left-sidebar .main {
  float: right;
}
.left-sidebar .sidebar {
  float: left;
}
