/*
  css 属性规范：
    <位置>：position、top、right、z-index、display、float 等；

    <大小>：width、height、padding、margin；

    <文字>：font、line-height、letter-spacing、color、text-align 等；

    <背景>：background、border 等；

    <其他>：animation、transition 等；
*/

* {
  margin: 0;
  padding: 0;
}

.u-text-holder {
  color: gray;
  font-size: 30px;
  text-align: center;

  background-color: rgb(33, 33, 33);
}

.g-bar,
.g-content {
  width: 1200px;
  margin: 0 auto;
}

.g-bar {
  height: 200px;

  line-height: 200px;
}

.m-content-row {
  height: 500px;
  margin: 10px auto;

  line-height: 500px;
}
.m-content-row .g-main {
  width: calc(70% - 5px);
}
.m-content-row .g-sidebar {
  width: calc(30% - 5px);
}

.u-right-sidebar .g-main {
  float: left;
}
.u-right-sidebar .g-sidebar {
  float: right;
}

.u-left-sidebar .g-main {
  float: right;
}
.u-left-sidebar .g-sidebar {
  float: left;
}
