#content {
  background-color: rgb(247, 246, 244);
  padding: 35px 0;
}

#content #main {
  font-size: 0;
  padding: 0 calc(calc(100% - 977px) / 2 - 34px);
}

#content #title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 977px;
  margin: 0 34px 30px;
}

#content .title_decoration_line {
  background-color: rgb(112, 45, 19);
  width: 428px;
  height: 2px;
}

#content .title_decoration_dot {
  border-radius: 50%;
  background-color: rgb(112, 45, 19);
  width: 6px;
  height: 6px;
  margin: 0 5px;
}

#content #title_txt {
  color: rgb(112, 45, 19);
  line-height: 1.5;
  margin: 0 8.5px;
}

#content #company_introduction {
  width: 966px;
  height: 296px;
  margin: 0 auto 196px;
}

#content #company_introduction p {
  font-size: 16px;
  color: rgb(51, 51, 51);
  text-indent: 2em;
  line-height: 1.5;
}
