#content {
    background-color: rgb(247, 246, 244);
    padding: 35px 0 80px;
    position: relative;
}

#content > * {
    width: 985px;
    margin: 0 auto;
}

#title {
    font-size: 16px;
    color: rgb(13, 144, 254);
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
}

#info_items {
    position: relative;
    margin-top: 10px;
}

.item_decoration {
    display: block;
    margin: 0 auto;
}

.item_line {
    background-color: rgb(13, 144, 254);
    width: 2px;
    margin: 10px auto;
}

.item_line_l {
    height: 150px;
}

.item_line_m {
    height: 100px;
}

.item_line_s {
    height: 40px;
}

.info_item {
    position: absolute;
}

.info_item:nth-child(2n-1) {
    right: calc(50% + 48.5px);
}

.info_item:nth-child(2n) {
    left: calc(50% + 48.5px);
}

.info_item:nth-child(2n-1) p {
    text-align: end;
}

.info_item:nth-child(2n) p {
    text-align: start;
}

.info_item .info_item_title {
    font-weight: bold;
}

.info_item p {
    font-size: 14px;
    color: rgb(51, 51, 51);
    white-space: nowrap;
    line-height: 1.8;
}

.info_item img {
    display: block;
    margin: 0 auto;
}

.info_item .img_counter {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 78px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

#img_viewer {
    display: none;
    position: absolute;
    top: 25px;
    left: calc(50% - 508px);
    width: 1016px;
    height: 642px;
    background-color: rgba(0, 0, 0, 0.7);
}

#img_viewer #img_viewer_content {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 211.5px);
    width: 600px;
    height: 423px;
}

#img_viewer #previous_img {
    position: absolute;
    left: 25px;
    top: 270.5px;
}

#img_viewer #next_img {
    position: absolute;
    right: 25px;
    top: 270.5px;
}

#img_viewer #close_img {
    position: absolute;
    top: -25px;
    right: -25px;
}
